@white: #fff; /* белый цвет */
@black: black;  /* черный цвет */
@top_line: rgba(27, 37, 47, 0.3); /*фон верхней линии хедера*/
@bg_download: #1d2631; /* цвет фона блока "download" */
@features_text: #283645;  /*цвет абзацев блока features */
@head_title: #90969d;  /*цвет текста заголовка блока  features*/
@color_header_title: #a8adb2;  /*цвет текста заголовка хедера*/
@bg_slider_switch: #bec2c7;  /*фон переключателя слайдера*/
@color_price: #8b9198;  /*цвет для текста цены в слайдере блока variant*/
@color_contact_text: #eca9ba; /*цвет текста блока contact*/
@color_gradient: #f2f2f2;  /*серый фоновый цвет градиента с косой  линией*/
@bg_color_main-menu: #283645;  /*фоновый цвет главного меню */
@color_border_bottom: #17131b;  /*цвет нижнего бордера главного меню */
@color_border_top: #545c67;  /*цвет верхнего бордера главного меню */
@color_download_text: #787c81; /*цвет текста для блока download*/
@bg_variant_head: #283645;  /*  цвет фона шапки слайдера в блоке variant */
@line_variant_slides: #a6abb0;  /* цвет поперечных и продольных линий блока слайдера в блоке variant */
@bold: 700;  /* жирный шрифт*/
@light: 300;  /* тонкий шрифт*/
@normal: 400;  /* нормальный шрифт*/
@bg_btn_shipment: #2aab6d;/*фон кнопки отправки*/
@color_form_text: #283645;  /*цвет текста формы*/
@color_form_sign: #d22856;  /*цвет текста лэйблов формы*/
@color_border_input: #eee; /* цвет для border рамки инпутов */
@color_circle: #e5e5e5;  /*цвет круга радиокнопки выбора приложения*/
@bg_radio_btn: #f2f2f2;  /* фон секции выбора телефонов */
@font_14-24: 14px~"/"24px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для features__text и для downlod__text*/
@font_18-24: 18px~"/"24px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для самых крупных заголовков*/
@font_24-24: 24px~"/"24px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для features__head-title,header-main__title*/
@font_18-30: 18px~"/"30px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для заголовков блока reviews */
@font_24-30: 24px~"/"30px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для текста блок contact */
@font_14-30: 14px~"/"30px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для текста слайдера в блоке variant*/
@font_18-32: 18px~"/"32px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для ссылок главного меню*/
@font_18-18: 18px~"/"18px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для кнопки "скачать приложение" блока download*/
@font_14-18: 14px~"/"18px 'Open Sans','Arial',sans-serif;    /* размер шрифта/line-height для ссылок главного меню*/
@font_18-40: 18px~"/"40px 'Open Sans','Arial',sans-serif;   /* размер шрифта/line-height для текста блок contact */
@font_12-18: 12px~"/"18px 'Open Sans','Arial',sans-serif;   /* размер шрифта для подписи под загруженными img на стр. с формой */
