.download {
  background: @bg-download;
  color: @white;
  text-align: center;
  padding: 20px;

  &__btn {
    display: block;
    width: 280px;
    border: @border-btn;
    border-radius: 25px;
    padding: 10px 0;
    font: 18px/18px @font;
    font-weight: bold;
    color: @white;
    text-decoration: none;
    margin-bottom: 20px;
  }

  &__system {
    font-size: 0;
    margin-bottom: 15px;
    vertical-align: center;
  }

  &__text {
    font: @font_1 @font;
    color: @color-7;
  }

  & img {
    font-size: 10px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 40px;
  }

  & img:last-child {
    margin-right: 0;
  }
}
