.features {
  text-align: center;
  padding-top: 20px;

  &__head {
    padding-bottom: 90px;
    background-image: linear-gradient(176deg, @white 80%, @color-3 10%);
  }

  &__head-title {
    font: @font_3 @font;
    font-weight: @light;
    color: @head-title;
    margin-bottom: 20px;
  }

  &__head-title:last-child {
    margin-bottom: 0;
  }

  &__title {
    font: @font_2 @font;
    font-weight: @bold;
    margin-bottom: 15px;
  }

  &__text {
    font: @font_1 @font;
    color: @features-text;
  }

  &__description {
    background:@color-3 url(../img/bg-bottom-features.png) no-repeat center bottom;
    padding-bottom: 320px;
    padding-top: 20px;

    li {
      margin-bottom: 20px;
      padding:0 15px;
    }

    li:last-child {
      margin-bottom: 0;
    }

  }

}
