.footer-main {
  padding: 20px;
  text-align: center;

  &__logo {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 40px;
  }

  &__img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }

  &__design {
    font: @font_14-18;
    color: @color_form_text;
  }
}
