.header-main {
  text-align: center;/*url(../img/bg2-header-main.png) no-repeat center bottom,*/
  position: relative;
  background:url(../img/background-tablet@1x.jpg) no-repeat center top;

  &__top-line {
    background: @top_line;
    padding: 20px 20px;
    margin-bottom: 15px;
  }

  &__bg-hand {
    background: url(../img/bg2-header-main.png) no-repeat center top;
    height: 295px;
  }

  &__title {
    .header-title();
  }

  &__title-form {
    .header-title();
  }

  &__btn {
    float: right;
    display: block;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    color: @white;
  }

  &__img {
    vertical-align: bottom;
  }

}

@media (min-width: @screen_md) {
  .header-main{
    height: 720px;

    &--for-form {
      height: auto;
      padding-bottom: 70px;
    }

    &__bg-hand {
      background: url(../img/iphone-hand-tablet@1x.png) no-repeat center top;
      width: 700px;
      height: 545px;
      position: absolute;
      top: 175px;
    }

    &__title-form {
      font: @font_40-45;
      font-weight: @light;
      color: @white;
      padding: 0 100px;
      padding-top: 60px;
    }

    &__title {
      margin-top: 110px;
      font: @font_40-40;
      font-weight: @light;
      color: @white;
      padding: 0 15px;
      padding-bottom: 15px;
      width: 245px;
      margin-left: 40px;

    }
  }
}

