.header-main {
  height: 456px;
  text-align: center;
  position: relative;
  /*background: url(../img/bg-header-main.jpg) no-repeat center;*/
  background: url(../img/bg2-header-main.png) no-repeat center bottom,
              url(../img/bg1-header-main.jpg) no-repeat center;

  &__top-line {
    background: @top_line;
    padding: 20px 20px;
    margin-bottom: 15px;
  }

  &__title {
    font: @font_24-24;
    font-weight: 300;
    color: @color_header_title;
    padding: 0 15px;
    padding-bottom: 30px;
  }

  &__btn {
    float: right;
    display: block;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    color: @white;
  }

  &__img {
    vertical-align: bottom;
  }

  &--for-form {
    background:url(../img/bg1-header-main.jpg) no-repeat center;
    height: auto;
  }
}
