.reviews {
  padding: 45px 20px 10px 20px;
  text-align: center;

  &__name {
    font: @font_18-30;
    font-weight: @bold;
    margin-bottom: 12px;
  }

  &__text {
    font: @font_14-30;
    color: @features_text;
  }
}
