.variant {
  background-image: linear-gradient(176deg, @white 10%, @color-3 10%);
  padding-top: 110px;
  padding-bottom: 45px;

  &__slides {
    position: relative;
    background: @white;
  }

  &__img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 20px;
  }

  &__head {
    background: @bg-variant-head;
    text-align: center;
    padding: 20px 0;
  }

  &__slides:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100%;
    background: @line;
    top: 0;
    left: 20px;
  }

  &__slides:before {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100%;
    background: @line;
    top: 0;
    right: 20px;
  }

  &__title {
    font: @font_4 @font;
    font-weight: @bold;
    color: @white;
    text-transform: uppercase;
  }

  &__price {
    font: @font_5 @font;
    font-weight: @light;
    color: @price;
  }

  &__option {
    li {
      border-bottom: 2px solid @line;
      padding: 20px 0;
    }
  }

  &__text {
    font: @font_6 @font;
    margin-left: 44px;
    float: left;
    text-transform: uppercase;
    color: @features-text;
  }

  &__ico {
    display: block;
    float: right;
    margin-right: 40px;
  }

}
